body {
  margin: 0;
  font-family: 'Baloo Bhai 2', cursive;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: max-content;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Main Page */

.container {
  display: grid;
  grid-template-columns: 13% 50% 37%;
}

.height {
  height: 142.3vh;
}

#root {
  background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Sidebar */
section {
  background-color: black;
  height: 100%;
  width: max-content;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  margin-left: 28px;
  margin-top: 30px;
  margin-bottom: 20px;
}

section .help svg {
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: white;
}

section .help:hover svg {
  color: black;
}
section .help img{
  object-fit: contain;
}
section .brand img{
  object-fit: contain;
}
section svg {
  color: white;
  font-size: 1.5rem;
}

section .brand svg {
  font-size: 2.5rem;
}

section .links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

section .links img{
object-fit: contain;
}

section .links li {
  border-radius: 1rem;
  padding: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .links li svg {
  color: white;
}

section .links li :hover {
  /* box-shadow: 0 0 60px 8px red; */
}

section .links li :hover svg {
  color: var(--primary-color);
}

section .selected {
  /* box-shadow: 0 0 60px 8px red; */
}

section .selected svg {
  color: var(--primary-color);
  background-color: transparent;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  section {
      width: 100%;
      padding: 1rem;
  }

  .links,
  .help {
      display: none;
  }
}

/* DashBoard */

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  margin-left: 20px;
}

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 95%;
  background: #F5F5F7;
  border-radius: 14px;
  margin-top: 70px;
  padding: 1rem;
  /* margin-left: 20px; */
}

.intro {
  width: 60%;
  padding-left: 2rem;
}

.intro h1 {
  line-height: 1.8rem;
  /* letter-spacing: 1.2px; */
  font-weight: 800;
  width: 100%;
}

.image {
  width: 30%;
  text-align: center;
}

.image img {    
  width: 10rem;
  position: relative;
  bottom: 0.9rem;
 right: 3rem;
 object-fit: contain;
}

.main-details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 40px;
  width: 95%;
  /* padding-left: 20px; */
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  width: 80%;
  background: #F5F5F7;
  border-radius: 14px;
  margin-top: 0px;
  margin-left: 0px;
}

.img {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 12px;
}
.img img {
  height: 40px;
  object-fit: contain;
}

.name {
  align-items: center;
}

.name h2 {
  line-height: 1.5rem;
  font-weight: 800;
}

.name p {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.progress {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.CircularProgressbar {
  width: 4rem !important;
  overflow: visible;
}

.button {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1rem; */
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
  border-radius: 15px;
}

.arrows {
  width: 20%;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrows .div1 {
  margin-right: 5px;
}
.arrows .div2 {
  margin-left: 5px;
}

.arrows img {
  height: 60px;
  object-fit: contain;
}

.courses {
  margin-top: 20px;
  width: 95%;
}

.navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  color: #A2B5BB;
}

.navbar button {
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
  border-radius: 15px;
}

.add-button {

  display: flex;
  justify-content: space-between;
  text-align: center;

}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  font-weight: 700;
  font-size: 1.2rem;
}

.navbar-links2 li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekly {
  user-select: auto;
    display: flex;
    background-color: #f5f5f7;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    height: 3.2rem;
    padding: 5px;
}

.weekly img {
  bottom: 400px;
    right: 17px;
    top: 0px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #A2B5BB;
  padding: 14px;
}

.navbar-links .all {
  padding-left: 0px;
}

.navbar-links li:hover {
  color: #0C0B0B;
}

.navbar-links li .selected {
  color: #0C0B0B;
}

.button img {
  height: 20px;
  object-fit: contain;
}

.button span {
  margin-left: 3px;
  margin-top: 2px;
}
/* Courses */
.courses-list {
  width: 100%;
}

article{
  width: 100%;
}

.courses-list ul {
  display: flex;
    flex-direction: column;
    width: 100%;
}

.main-div {
  display: flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 16vh;
  background: #F5F5F7;
  border-radius: 14px;
  margin-top: 25px;
}
/* Course */


.d1{
  flex: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  margin-left: 12px;
  background-color: white;
  border-radius: 12px;
}

.d2{
  padding-left: 28px;
    flex: 4 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.d3{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d4{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d5{
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.d1 img {
  height: 40px;
  object-fit: contain;
}
.d3 img {
  margin-top: 7px;
  margin-right: 10px;
  object-fit: contain;
}
.d4 img{
  margin-right: 12px;
  margin-top: 4px;
  object-fit: contain;
}
.d5 img{
  object-fit: contain;
}

/* Details */
.details2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  margin-top: 70px;
  padding: 1rem;
  padding-top: 0px;
}
.search{
  object-fit: contain;
  position: relative;
  left: 3rem;
  height: 2rem;
  top: 0.9rem;
}
.input2{
  color: black;
  height: 3rem;
  width: 100%;
  background-color: #F5F5F7;
  outline: none;
  border: none;
  padding: 15px 15px 8px 0px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  margin: 5px 0;
}
.img1{
  object-fit: contain;
  height: 3.2rem;
  margin-left: 1rem;
    margin-right: 1rem;
}
.img2{
  object-fit: cover;
  height: 3rem;
  border-radius: 12px;
  margin-top: 7px;
}
.img3{
  object-fit: contain;
  height: 0.4rem;
  position: relative;
  top: 1.7rem;
  margin-left: 0.5rem;
}
.notification{
  display: flex;
}

.card-container{
  display: flex;
  justify-content: space-around;
    align-items: center;
    margin-top: 1.6rem;
    padding-left: 20px;
}
.con{
  display: flex;
  padding: 0.5rem 2rem;
  align-items: center;
  background-color: #f5f5f7;
    border-radius: 12px;
    padding: 0.5rem 1.3rem;
}
.con h1{
  user-select: auto;
    font-size: 5rem;
    margin-right: 0.6rem;
    font-weight: 900;
}
.con p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;

}
.course_detail{
  padding: 1rem;
  width: 95%;
}
.h1tag {
  margin-left: 2rem;
}

.course_graph{
  margin-top: 1rem;
  width: 95%;
}
.link2{
  width: 100%;
}
.link2 ul{
  justify-content: space-evenly;
}
.navbar2{
  justify-content: center;
}

.customized-label{
  width: 3rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: white;
  box-shadow: 5px 5px #888888;
}

.learn-more{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  background-color: #F5F5F7;
  border-radius: 12px;
  width: 85%;
  padding: 2rem;
  margin-bottom: 24px;
  margin-left: 20px;
}
.premium{
  margin-bottom: 1rem
}
.premium h1 {
  font-weight: 1000;
}
.premium p {
  font-size: 1.3rem;
  line-height: 1.9rem;
}
.idea img {
  height: 9rem;
  object-fit: contain;
}
/* CourseForm */

.main-cover {
  /* background-color: white; */
  width: 100%;
  max-height: 70vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-form-container{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  background-color: black;
}
.heading{
  text-align: center;
}

.top {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
}

.top h1 {
  margin-top: 0;
  color: white;
  font-size: 35px;
  align-self: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}
.form_container{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.one{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.two{
  width: 70%;
  height: 10vh;
}
.course-form-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  height: 100%;
  width: 50%;
}
.course-form-right{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  height: 100%;
  width: 50%;
}
.input_box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px;
}


.input {
  color: white !important;
  width: 100%;
  background-color: black;
  outline: none;
  border: none;
  padding: 15px 15px 8px 0px;
  font-size: 0.9rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  margin: 5px 0;
}
.form-time-control{
  width: 100%;
  color: white;
  background-color: black;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
   padding: 15px 15px 8px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  margin: 5px 0;
}
.flex {
  position: relative;
  right: 28px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  text-align: start;
  margin-right: 200px;
}
.rating-label {
  outline: none;
  border: none;
  color: white;
  background-color: black;
  padding-bottom: 10px;
}
.rating{
  background-color: black;
  color: white;
  font-weight: 600;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  margin: 5px 0;
}
.span1{
  margin-right: 5px;
  font-size: 1.5rem;
}
.span2{
  margin-top: 10px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  color: white;
}

.green_btn {
  background-color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  color: black;
  padding: 12px 20px;
  margin-top: 12px;
}

/* ImageUpload */

*{
  margin: 0;
  padding: 0;
}
.page{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;

}
.image-container{
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}
.heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;

}
.img-holder{
  margin: auto;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    border-radius: 14px;
    background-color: white;
}
.image1{
  width: 160px;
  height: 160px;
  object-fit: cover;
}
#input[type="file"] {
    display: none;
}
.label{
  width: 100%;
  color: #ffffff !important;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload{
  margin: auto;
  width: 200px;
    height: 50px;
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  
}














